body{
    background-image: url(ceu.jfif);
    background-repeat: no-repeat;
    background-size: cover;
}


.conteudo{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-color: white;
    color: black;
    width: 700px;
    margin-left: 400px;
}

