body{
    background-color: darkblue;
    color: whitesmoke;
}

img{
    height: 200px;
    width: 220px;
    
}
label{
    display: flex;
    flex-direction: column;
}

button{
    height: 20px;
    width: 115px;
}

.estilo{
    display: flex;
    flex-direction: row;
}