body{
    background-color: #C1AC99;
    border: solid 4px white  ;
    padding-bottom: 10%;
}

.imagem{
    height: 300px;
    position: absolute;
    margin-top: 130px;
    margin-left: 150px;
}

.titulo{
margin-top: 25px ;
margin-left: 580px;
padding-right: 900px;


}
.conteudo{

    border: 10px double white;
    height: 300px;
    width: 400px;
    margin-top: 150px;
    margin-left: 900px;
    left: 0px;
    right: 600px;
    color: white;
    text-align: center;
    padding-top: 30px;

}