.botao  {
    position:absolute;
    top:20px;
    left:50px;
    margin:0px;
    padding:0px;
            }
    
    .botao a, .botao a:visited {  
    font: bold 12px/24px arial, helvetica, sans-aerif;	
    padding:0px;
    text-decoration: none;
    text-align:center;	
    color:#fff;
    background: rgb(71, 255, 194) url('botao_link.gif') no-repeat 
    center center;	
    width:120px;  
    height:24px;	
    display:block;	
        }
    
    .botao a:hover { 
    background: rgb(67, 106, 94) url('botao_hover.gif') no-repeat 
    center center;
    color:white;
                   }





































                   /*estilo do botão*/

 

.neon-bt {

    position: relative;
    display: inline-block;
    padding: 10px 20px;
    color: #0d0e0e;
    font-size: 16px;
    text-decoration: none;
    text-transform: uppercase;
    overflow: hidden;
    transition: 0.2s;
    margin-top: 40px;
    letter-spacing: 4px
  
  }
  
   
  
  .neon-bt:hover {
    background: #000000;
    color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 5px #1aced7,
                0 0 25px #03e9f4,
                0 0 50px #03e9f4,
                0 0 100px #03e9f4;
  }
  
   