body{
    background-color: rgb(47, 41, 62);
    
}

.img1{
    height: 340px;
    position: absolute;
    margin-top: 65px;
    margin-left: 80px;
}

.img2{
    height: 340px;
    position: absolute;
    margin-top: 130px;
    margin-left: 450px;
    border-style: solid;
    color: wheat;
}

.img3{
    height: 340px;
    position: absolute;
    margin-top: 130px;
    margin-left: 750px;
}

.img4{
    height: 340px;
    position: absolute;
    margin-top: 130px;
    margin-left: 1050px;
}

.video{
    height: 340px;
    position: absolute;
    margin-top: 600px;
    margin-left: 380px;
    border-style: solid;
    color: wheat;
}