.vertical-menu{
    width: 200px;
}
.vertical-menu a{
    background-color: #eee;
    color: black;
    display: block;
    padding: 12px;
    text-decoration: none;
}

.vertical-menu a:hover{
    background-color: #f80b0b;
}

.vertical-menu a.active{
    background-color: #FF00FF;
    color: white;


}
