@import url('https://fonts.googleapis.com/css2?family=Milonga&display=swap');
*{
    border: 0;
    margin: 0;

}
body{
    overflow-x: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: linear-gradient( 180deg,  rgb(209,139,255), cyan);
    background-size:  100%;
    width: 1525px;
    height: 1000px;
    border: 5px solid;

}

.container{
    height: 70px;
    background-color: white;
    position: relative;
    top: -465px;
    left: 0px;
    
}
#divBusca{
    background-color: #E0EEEE;
    border: solid 2px transparent;
    border-radius: 10px;
    width: 900px;
    height: 32px;
    position: relative;
    top: 15px;
    left: 130px;
}

#txtBusca{
    float: left;
    background-color: transparent;
    padding-left: 5px;
    font-size: 18px;
    border: #eeaced;
    height: 32px;
    width: 250px;
}
.lupa{
    width: 25px;
    height: 25px;
    float: left;
}

  .computer{
    float: left;
    height: 60px;
    width: 60px;
    margin-left: 1100px;
    margin-top: -30px;
  }

  .menu{
    float: left;
    height: 60px;
    width: 60px;
    margin-left: 1200px;
    margin-top: -60px;
    opacity: 0.2;
  }
/*fim da parte de cima da pagina*/

  /*formas geometricas*/

#quadrado{
    display: inline-block;
    width: 180px;
    height: 180px;
    background: linear-gradient(to top, rgba(91,253,239,0.4) 20%,rgba(0,255,0,0.8) 100%);
    position: relative;
    top: 500px;
    left: -200px;
}

#circulo{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    background: linear-gradient(to top, rgba(200,0,255,0.4) 20%,rgba(0,222,255,1) 100%);
    position: relative;
    top: 180px;
    left: 960px;
}

#triangulo{
    width: 0px; 
    height: 0px; 
    border-left: 100px solid transparent;
    border-right: 100px solid transparent;
    border-bottom: 180px solid Red;
    opacity: 0.5;
    position: relative;
    top: -100px;
    left: 50px;
   
}
#circulo2{
  width: 150px;
  height: 150px;
  border-radius: 50%;
  background: linear-gradient(to top, rgba(0,255,0,0.4) 20%,rgba(222,222,0,1) 100%);
  position: relative;
  top: -200px;
  left: 160px;
}
/*fim das formas geometricas*/

.header{
  border:5px solid transparent;
  position: relative;
  top: -750px;
  height: 250px;
 
}

.logotipo{
  height: 110px;
  width: 110px;
  position: relative;
  top: 70px;
}

.titulo{
  font-family: milonga;
  position: relative;
  left: 200px;
  top: -15px;
}

.subtitulo{
  font-family: milonga;
  position: relative;
  left: 200px;
  top: -15px;
  color: white;
}
.linhatop{
  border-top: 2px solid aqua;
  padding: 10px;
  display: flex;
  margin-top: 15px;
  margin-left: 0px;
  margin-right: 60px;
  gap: 100px;
  width: 1100px;
  position: relative;
  left: 120px;
  }
  .bola1{
    height: 7px;
    width: 7px;
    background: aqua;
    transform: rotate(45deg);
    float: left;
    position: relative;
    top: -15px;
    left: -12px;
}
.bola2{
    height: 7px;
    width: 7px;
    background: aqua;
    transform: rotate(45deg);
    float: right;
    position: relative;
    top: -15px;
    left: 1000px;
}


/*

/*opcoes presentes acima da pagina*/
*ul{
  font-family: milonga;
  flex-direction: row;
  justify-content: space-around;
  list-style-type: none;
  align-items: center;
  padding: 25px;
  text-decoration: none;

}

nav ul li a{
  color:black;
  font-family: milonga;
  text-decoration: none;
  background-color: #37F3FF;
  align-items: flex-start;
  padding-left: 45px;
  padding-right: 45px;
  padding-top: 10px;
  padding-bottom: 10px;
}

li{
  list-style: none;
}

.sobre{
  position: relative;
  left: 80px;
  top: -802px;
  border-radius: 15px;
  padding-top: 8px;
  padding-left: 65px;
  padding-right: 65px;
}
.catalogo{
  position: relative;
  left: 380px;
  top: -820px;
  border-radius: 15px;
  padding-top: 8px;
  padding-left: 65px;
  padding-right: 65px;
}

.ajuda{
  position: relative;
  left: 730px;
  top: -840px;
  border-radius: 15px;
  padding-top: 8px;
  padding-left: 65px;
  padding-right: 65px;
}

.login{
  position: relative;
  left: 1040px;
  top: -860px;
  border-radius: 15px;
  padding-top: 8px;
  padding-left: 65px;
  padding-right: 65px;
}

#form{
  position: relative;
  top: -800px;
  left: 500px;
  background: rgba(255, 255, 255, 0.6);
  border-radius: 10px;
  padding: 60px;
  width: min-content;
  align-items: center;
  color: black;
  font-family: milonga;
}

.title{
  font-family: milonga;
  font-size: 2.8em;
  position: relative;
  top: -30px;

}
.input{
  font-family: milonga;
  min-width: 280px;
  border-radius: 22px;
  border: 2px #6f7e8a solid;
  padding: 5px;
  margin: 0px 0px 12px -5px;
  background-color: rgb(151, 79, 253);
}
input{
  background-color: rgb(151, 79, 253);
}

#form p{
  font-family: milonga;
  text-align: center;
}

.googlecomfundo{
  height: 50px;
  width: 50px;
}

.google{
  height: 50px;
  width: 50px;
  position: relative;
  left: 60px;
}

.logoemail{
  height: 50px;
  width: 50px;
  position: relative;
  left: 120px;
}

/*footer*/
.rodape{
  position: absolute;
  width: 1260.61px;
  height: 0px;
  left: 30px;
  top: 750px;
  border: 2px solid rgb(209,139,255);
  transform: matrix(1, 0, 0.01, 1, 0, 0);
  }

  .bola3{
    height: 7px;
      width: 7px;
      background:rgb(209,139,255);
      transform: rotate(45deg);
      float: left;
      position: relative;
      top: -4px;
      left: -7px;
  }

  .bola4{
    height: 7px;
      width: 7px;
      background:rgb(209,139,255);
      transform: rotate(45deg);
      float: right;
      position: relative;
      top: -4px;
      left: 5px;
  }
  

.telefone{
font-family: milonga;
color: black;
position: relative;
left: 100px;
top: -20px;
}

.seguranca{
font-family: milonga;
color: black;
position: relative;
left: 400px;
top: -40px;
}

.avalie{
font-family: milonga;
color: black;
position: relative;
left: 700px;
top: -60px;
}

.fale{
font-family: milonga;
color: black;
position: relative;
left: 1000px;
top: -80px;
}

